<%- include('layouts/header'); -%>

<body>
    <header>
        <img src="../images/booktitle.jpeg" alt="Food" width="85">
        <h2>The Story Keeper</h2>
      </header>
    <%- include('layouts/nav'); -%>
    <section class="welcome"><br>
        <div style="text-align: center;">
            <% if(typeof(book.imageName) != 'undefined'){%>
            <img src="../uploads/<%= book.imageName %>" alt="<%= book.bookName %>" height="250px" width="300px">
            <%}%>
         <br>
        
          <b style="font-size: 35px;"><%= book.bookName %></b><br>
            <i style="font-size: 28px;">by</i><b style="font-size: 30px;"> <%= book.authorName %><br></b>
            <b style="font-size: 25px;">$<%= book.price %></b><br>
            <% if(book.quantity > 0){%>
            <i class="fas fa-check" style="color: green;"></i> <i style="font-size: 25px;">In Stock</i>
            <br><br>
            <%}else{%>
            <i class="fas fa-times" style="color: rgb(236, 48, 15);"></i> </i> <i style="font-size: 25px;">Sold out</i>
            <br><br>
            <%}%>
            <div><%= strippedString %></div><br><br>
            <% if(book.quantity > 0){%>
                <a id="add" href="/editcart/<%= book._id%>" style="margin-left: 80px;">Add to Cart</a>
            <%}%>    
        </div>
    </section>
    <div class="clear"></div>
</body>
<%- include('layouts/footer'); -%>